%nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
  %a.navbar-brand{ href: '#' } NJMJ
  %form.form-inline.my-2.my-lg-0
    %button.btn.btn-outline-success.my-2.my-sm-0{ type: 'submit' } ゲームを開始
  %button.navbar-toggler{ type: 'button', data:{ toggle: 'collapse', target: '#navbarSupportedContent' }, aria: { control: 'navbarSupportedContent', expanded: 'false', label: 'Toggle navigation' } }
    %span.navbar-toggler-icon

  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        %a.nav-link{ href: '#' }
          Home
          %span.sr-only (current)
      %li.nav-item
        %a.nav-link{ href: '#' } Link
      %li.nav-item
        %a.nav-link.disabled{ href: '#' } Disabled
      %li.nav-item.dropdown
        %a#dropdown01.nav-link.dropdown-toggle{ href: 'http://example.com', data: { toggle: 'dropdown' }, aria: { haspopup: 'true', expanded: 'false' } } Dropdown
        .dropdown-menu{ aria: { labelledby: 'dropdown01' } }
          %a.dropdown-item{ href: '#' } Action
          %a.dropdown-item{ href: '#' } Another action
          %a.dropdown-item{ href: '#' } Something else here
    %form.form-inline.my-2.my-lg-0
      %input.form-control.mr-sm-2{ type: 'text', placefolder: 'Search', aria: { label: 'Search' } }
      %button.btn.btn-outline-success.my-2.my-sm-0{ type: 'submit' } Search

%main.container{ role: 'main' }
  %h1 Home#index
  %p Find me in app/views/home/index.html.haml
  %p Hello world!
